<appdlg #dlg [title]="'Ako si pridať certifikát do svojho profilu'">


  <div class="font-weight-bold mt-5 mb-7">Bounded by the majestic Himalayan ranges in the north and edged by an endless stretch of
    golden beaches, India is a vivid kaleidoscope of landscapes, magnificent historical sites and royal cities, misty
    mountain retreats.</div>


  <div classes="dlg_footer d-flex justify-content-center">
    <button classes="dlg_cancel" (click)="dlg.close()">Ok</button>
  </div>
</appdlg>