<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <i class="icon icon-close fs-9 text-secondary"></i>
  </button>
</div>
<div class="modal-body pt-6 pb-8">
  <div class="text-center font-weight-bold fs-6">
    <div *ngFor="let message of dialogData.message">
      {{message || ''}}
    </div>
  </div>
</div>
<div class="modal-footer justify-content-center pb-5">
  <button type="button"
    class="btn bg-white box-shadow-md mx-2 text-primary text-uppercase fs-5 font-weight-bold px-6 py-2 px-md-6"
    #submit (click)="ok()">{{dialogData.ok}}</button>
</div>