<form>
    <header classes="toptitle">
        <h3>Stretnutie s team-leaderom 1:1</h3>
    </header>

    <div classes="topbox mb-3">
        <div>
            <div classes="topboxfld col-12 col-lg-4 pt-2">
                <span>Zamestnanec:</span>
                <b>{{data?.evaluated?.personFN}}</b>
            </div>
            <div classes="topboxfld col-12 col-lg-8">
                <div class="d-inline-flex mt-2">Názov hodnotenia:</div>
                <div class="flex-fill">
                    <input *ngIf="!data.published" type="text" autocomplete="off" class="form-control bg-light" [(ngModel)]="data.name"
                        name="name">
                    <div *ngIf="data.published" classes="htext">{{data.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="fs-5 pb-3 text-black-50" *ngIf="hasThemes">Tu nájdeš témy, ktoré by mali byť na tomto stretnutí
        rozoberané. Pri každej je
        priestor na
        zápis. Môžeš si vytvoriť aj vlastné. Odporúčane Ti použiť tento formulár priamo pri stretnutí na značenie
        odpovedí
        zamestnanca,
        prípadne poznámky.
    </div>


    <header classes="sectionpanel">
        <h3>Témy stretnutia</h3>
        <a href="javascript:void(0)" preventDefault (click)="addTheme()" class="text-secondary" *ngIf="hasThemes && !data.published"><i
                class="icon icon-plus-circle fs-7 position-relative top-1"></i> Pridaj
            tému</a>
    </header>

    <div class="row" *ngIf="!hasThemes">
        <div class="w-100 text-black-50 px-3 pb-3">
            Odporúčame Ti pripraviť si 3-5 tém, ktoré budeš rozoberať na stretnutí so zamestnancom.
        </div>
        <div class="col-12 col-lg-6 mx-3 bg-white p-5 border-radius-md box-shadow-sm clearfix b-ils-info">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 text-center mb-6 order-lg-2">
                    <img src="assets/ils-table.svg" alt="#" class="img-fluid">
                </div>
                <div class="col-12 col-lg-6 px-xl-7 order-lg-1">
                    <h3 class="text-primary fs-7 font-weight-bold">Zatiaľ nemáš pridané žiadne témy rozhovoru</h3>
                    <a href="#" preventDefault (click)="addTheme()"
                        class="btn bg-white box-shadow-md text-secondary text-uppercase fs-5 font-weight-bold px-6 py-2 px-md-6 mt-1 mt-lg-3 d-inline-block"
                        data-toggle="modal" data-target="#howToModal">Pridať tému</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="hasThemes">
        <div classes="themeout" *ngFor="let item of data?.themes || []; let i = index">
            <div classes="themebox">
                <h3>{{item.name}}</h3>
                <div>
                    <textarea *ngIf="!data.published" classes="theme" rows="3" [(ngModel)]="item.desc" name="desc"></textarea>
                    <div *ngIf="data.published" classes="text">{{item.desc}}</div>
                </div>
            </div>
        </div>
    </div>

    <header classes="sectionpanel mt-8">
        <h3>Poznámky k stretnutiu</h3>
    </header>
    <div class="row">
        <div class="col-12">
            <div classes="themebox">
                <h3></h3>
                <div>
                    <textarea *ngIf="!data.published" classes="theme" rows="3" [(ngModel)]="data.notes" name="notes"></textarea>
                    <div *ngIf="data.published" classes="text">{{data.notes}}</div>               
                </div>
            </div>
        </div>
    </div>
</form>
<div classes="footerpanel">
    <a href="#" preventDefault (click)="goToLastPath()" classes="footerbutton"><i
            class="fas fa-arrow-left"></i>&nbsp;Návrat</a>

    <a href="#" preventDefault (click)="saveData(true)" *ngIf="!data.published" classes="footerbutton"><i
            class="icon icon-publish fs-7"></i>&nbsp;Publikovať</a>

    <a href="#" preventDefault (click)="saveData()" *ngIf="hasThemes && !data.published" classes="footerbutton"><i
            class="fas fa-save"></i>&nbsp;Uložiť môj zápis</a>

</div>