
		<div class="row">

			<!-- Left side -->
			<div class="col-12 col-lg-7 col-xl-6 pr-md-6">

				<app-widget-announcements-list></app-widget-announcements-list>

			</div>

			<!-- Right side -->
			<div class="col-12 col-lg-5 col-xl-6 pl-md-6">

				<div class="row">
					<div class="col-12 col-xl-6 mb-6">

						<!-- kariera -->
						<app-widget-career-list></app-widget-career-list>

					</div>

					<div class="col-12 col-xl-6">

						<!-- udalosti -->
						<app-widget-events-list></app-widget-events-list>

					</div>
				</div>
				
				<hr class="my-7" />

				<div class="row">
					<div class="col-12 col-xl-6 mb-6">

						<!-- rychla otazka -->
						<app-widget-question></app-widget-question>

					</div>

					<div class="col-12 col-xl-6 mb-6">

						<!-- rychly oznam -->
						<app-widget-quick-announcement></app-widget-quick-announcement>

					</div>

					<div class="col-12 col-xl-6 mb-7 mb-xl-0">

						<!-- podakovanie -->
						<app-widget-thanks></app-widget-thanks>

					</div>

					<div class="col-12 col-xl-6 mb-7 mb-xl-0">

						<!-- otazka pre HR -->
						<app-widget-question-hr></app-widget-question-hr>

					</div>
				</div>

				<hr class="my-7" />

				<app-widget-forum-list></app-widget-forum-list>

			</div>
		</div>

		