<section *ngIf="otazka">
  <header class="clearfix mb-2">
    <h3 class="fs-6 font-weight-bold d-inline-block mr-6">Otázka týždňa</h3>
  </header>

  <div
    class="bg-white p-4 pt-7 text-center min-height-230 border-radius-md box-shadow-lg d-flex align-items-start justify-content-center position-relative article-actions-on">
    <div *ngIf="isHR" class="article-actions position-absolute top-12 right-12">
      <a routerLink="/dashboard/oznam-create/{{documentType.QUESTION}}" class="e-round-icon text-secondary mr-1">
        <i class="icon icon-plus-circle"></i>
      </a>
      <a routerLink="/dashboard/oznam-edit/{{otazka.id}}" class="e-round-icon text-secondary mr-1">
        <i class="icon icon-edit"></i>
      </a>
      <a routerLink="/dashboard/otazky" class="e-round-icon text-secondary">
        <i class="icon icon-list"></i>
      </a>
    </div>

    <div class="content w-100">
      <a routerLink="/dashboard/oznam/{{otazka.id}}">
        <h3 class="fs-6 font-weight-bold lh-22 mb-6 px-5">{{otazka.question}}</h3>
      </a>

      <!-- user uz odpovedal -->
      <span *ngIf="emotikon">
        <a *ngFor="let item of emoticonTypes" preventDefault (click)="setEmotikon(item.type)"
          [class]="(item.type == (emotikon && emotikon.type)) ? 'cursor-pointer d-inline-block mx-1 my-1' : 'cursor-pointer d-inline-block mx-1 my-1 opacity-4'">
          <img [src]="iconsPath + '/' + item.icon" alt="#" height="34"></a>
      </span>

      <!-- user este neodpovedal -->
      <span *ngIf="!emotikon">
        <a *ngFor="let item of emoticonTypes" preventDefault (click)="setEmotikon(item.type)"
          class="cursor-pointer d-inline-block mx-1 my-1">
          <img [src]="iconsPath + '/' + item.icon" alt="#" height="34"></a>
      </span>

      <!-- textova odpoved - pole -->
      <div>
         <a href="#" preventDefault class="btn btn-white text-primary fs-5 font-weight-bold text-uppercase px-5 mt-6" (click)="addAnswer()">Chcem napísať viac</a>
        </div>
    </div>
    
  </div>
</section>