<!-- Search -->
<form class="mb-7">
  <button type="submit" class="submit-left">
    <i class="icon icon-search"></i>
  </button>
  <input type="text" autocomplete="off" id="search" name="search" placeholder="Hľadaj v príspevkoch"
    class="form-control fs-6 font-weight-bold box-shadow-lg border-0 py-5 px-6 h-auto" [(ngModel)]="search"
    (keyup.enter)="loadRecords()">
  <!-- TODO: Submit -->
</form>

<!-- News -->
<section>

  <header class="clearfix mb-2">
    <h3 class="fs-8 font-weight-bold d-inline-block mr-6">PosAm novinky</h3>
    <a routerLink="/dashboard/oznam-create/{{documentType.ANNOUNCEMENT}}" class="font-weight-bold text-secondary"><i
        class="icon icon-plus-circle fs-8 position-relative top-1"></i> Vytvor nový</a>
    <!-- TODO: Icon -->
    <div class="dropdown float-right position-relative top-1">
      <div class="float-right b-sections-dropdown">
        <p-multiSelect 
          *ngIf="categoryList" 
          [options]="categoryList" 
          [(ngModel)]="selectedCategories" 
          [filter]="true"
          [defaultLabel]="'Všetky kategórie'"
          (onChange)=loadRecords()>
        </p-multiSelect>
      </div>
    </div>
  </header>

  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 col-xl-6" app-announcements-detail *ngFor="let oznam of oznamy; let i = index"
      [model]="oznam"></div>

  </div>
</section>