::ng-deep .ql-toolbar.ql-snow {
    display :none;
};

/* ::ng-deep  .ql-container {
    font-size: 16px !important;
}
 */
::ng-deep  .ql-editor {
    outline: none !important;
    border-radius: 8px;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.08) !important; */
    border: 1px solid #a8a8a8 !important;
    padding: 8px;
    width: 100% !important;
    min-height: 375px;
    height: auto !important;
};

::ng-deep .ql-userblock:after {
    content: "<sb/>";
}


.overlayPanel {
    position: absolute;
    right: 40px;
    bottom: 10px;
    z-index: 10010;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.08);
}